*{
  text-decoration:none
}

body{
  background-color:#00020F;
  text-align:center
}
h1{
  color:#E4F1FC
}
h2{
  color:#69ABE0
}
h3{
  color:#E4F1FC
}
p{
  color:#99D3FE
}
a{
  color:#2B4C7A
}
.j21{
  color:#C7332C
}
.j22{
  color:#DC8A84
}
.j23{
  color:#DB5F64
}
.j24{
  color:#4B020F
}
.j31{
  color:#8E8E8E
}
.j32{
  color:#E4F1FC
}
.j33{
  color:#C3CBD6
}
.j34{
  color:#8A8EA3
}
.j41{
  color:#B5B5FF
}
.j42{
  color:#D5D1FD
}
.j43{
  color:#CFC2E0
}
.j44{
  color:#B5B5FF
}